*, *:before, *:after {
  box-sizing: inherit;
}

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
   box-sizing: border-box;
  font-size: 10px;
  background: url('background.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
}

h1
{
  font-family: Consolas, monaco, monospace;
  color: white;
  margin-left: 1%;
}

body {
    padding: 0;
    margin:0;
    font-family: 'Amatic SC', cursive;
}

.console {
        font-family: Consolas, monaco, monospace;
        font-size: 20px;
        background: #000;
        color: white;
        height: 65%;
        overflow-y: hidden;
        position: absolute;
        left: 25%;
        right: 25%;
        top: 10%;
         }

.buttons  {
  font-size: 20px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 75%;
}

#playerstats  {
  font-size: 20px;
  position: absolute;
  top: 10%;
  width: 20%;
  bottom: 25%;
  left: 1%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  overflow-y: hidden;
}

#enemystats  {
  font-size: 20px;
  position: absolute;
  top: 10%;
  width: 20%;
  bottom: 25%;
  right: 1%;
  border: 4px solid black;
  border-radius: 10px;
  background-color: white;
  overflow-y: hidden;
}

button {
  width: relative;
  margin: 1% 0 0 1%;
}

#Shop {
  background-color:#37ad4a;
}

#Rest {
  background-color: indianred;
}

#Kaart  {
  position: absolute;
  top: 10%;
  width: 35%;
  bottom: 25%;
  right: 1%;
}

img {
  width: 100%;
  height: relative;
  border-radius: 3px;
}